* {
    box-sizing: border-box;
}
html, body {
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    min-height: 100vh;
}
main {
    margin: 0 auto;
    padding: 1rem;
    max-width: 920px;
}
footer {
    text-align: center;
    font-size: .8rem;
    font-style: italic;
    padding: 2rem 0;
}
#messages {
    position: fixed;
    transition: all 400ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    bottom: 1rem;
    left: 0;
    right: 0;
    pointer-events: none;
}
.subtitle {
    font-size: .6rem;
}
#cli {
    display: block;
    margin: 1rem 0;
}

.message {
    display: block;
    padding: .8rem 1.2rem;
    background-color: #27AE60;
    color: #ffffff;
    margin: .4rem 0;
    visibility: visible;
    transition: all 400ms ease-in-out;
    border: 1px solid #21a85a;
    border-radius: 5px;
    box-shadow: 1px 1px 7px -3px rgba(0, 0, 0, .6);
    animation: fade-in 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-fill-mode: forwards !important;
}

.hide {
    animation: fade-out 1s ease-out both;
}

.p40 {
    padding: .4rem 0;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}
